---
layout: default
---

<a class="btn" href= "{{ site.url }}/" >
  Home
</a>
{% if page.image.feature %}
<div class="post-image-feature">
  <img class="feature-image" src=
  {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
  "{{ page.image.feature }}"
  {% else %}
  "{{ site.url }}/img/{{ page.image.feature }}"
  {% endif %}
  alt="{{ page.title }} feature image">

  {% if page.image.credit %}
  <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
</div><!-- /.image-wrap -->
{% endif %}


<div id="post">
  <header class="post-header">
    <h1 title="{{ page.title }}">{{ page.title }}</h1>
    <span class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%-d %b %Y" | upcase }}
      </span>
      •
      {% include read_time.html %}
    </span>

  </header>

  <article class="post-content">
    {{ content }}
    原创文章转载请注明出处: <a href="{{ site.url }}{{ page.url }}" target="_blank">{{ page.title }}</a>
  </article>

</div>

<div class="share-buttons">
  <h6>Share on: </h6>
  <ul>
    <!-- 微博分享 -->
    <li>
      <a href="https://service.weibo.com/share/share.php?url={{ site.url }}{{ page.url | url_encode }}&title={{ page.title | url_encode }}" 
         class="weibo btn" 
         target="_blank" 
         title="分享到微博">
        <i class="fa fa-weibo"></i><span> 微博</span>
      </a>
    </li>
    
    <!-- 微信分享 -->
    <li>
      <a href="javascript:;" 
         class="wechat btn" 
         title="分享到微信"
         onclick="document.getElementById('wechat-qrcode').style.display='block'">
        <i class="fa fa-wechat"></i><span> 微信</span>
      </a>
      <div id="wechat-qrcode" style="display:none;position:absolute;background:#fff;padding:10px;box-shadow:0 0 10px rgba(0,0,0,0.2)">
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ site.url }}{{ page.url | url_encode }}" 
             alt="微信分享二维码">
      </div>
    </li>
  </ul>
</div><!-- end share-buttons -->

{% include giscus.html %}
<!-- {% if site.owner.disqus-shortname and page.comments == true %}
<div id="disqus_thread"></div>
{% include disqus.html %} -->
{% endif %}
